In [2]:
import geopandas as gpd

In [3]:
df = gpd.read_file('./Files/Geojson_MU.json')

In [4]:
df.head()

,motive,createdAt_nanoseconds,updatedAt_nanoseconds,deletedAt_nanoseconds,createdAt_seconds,updatedAt_seconds,deletedAt_seconds,createdBy,updatedBy,uuid,state,deletedBy,geometry
0,Lina,279000000,280000000,456000000.0,1580044678,1580044678,1.582969e+09,OFdUjpbNLXZoeRPWB5YjxRxjzRH3,OFdUjpbNLXZoeRPWB5YjxRxjzRH3,0003689d-55fa-4929-83a2-c10a3f332913,removed,None,POINT (9.81203 53.56190)
1,None,182000000,182000000,136000000.0,1580056006,1580056006,1.584640e+09,ihPzNAGmQdatZW7rFD8q3cNubuS2,ihPzNAGmQdatZW7rFD8q3cNubuS2,0011d3f6-0b65-478b-85db-86eeaafffae6,removed,None,POINT (11.56812 48.18721)
2,Umwelt + Wohnen,697000000,698000000,NaN,1578829812,1578829812,NaN,psfZAjTSV5Stlfwj4Og2ihxSVqn1,psfZAjTSV5Stlfwj4Og2ihxSVqn1,0037d687-9395-446a-b0e1-576c825f88b0,active,None,POINT (11.58578 48.13201)
3,Hafen + Wohnen,348000000,348000000,978000000.0,1579958449,1579958449,1.582981e+09,vRs7bqLgbaZOrY9viLatNAzZrgD2,vRs7bqLgbaZOrY9viLatNAzZrgD2,00451eed-aa9d-4da6-9ca1-3bc18ff18c18,removed,None,POINT (10.01821 53.52622)
4,Mobilität + Umwelt,796000000,797000000,182000000.0,1582474831,1582474831,1.584808e+09,RwRvY0PtsoYOgcf3a7xxHfrV7YA3,RwRvY0PtsoYOgcf3a7xxHfrV7YA3,004af168-70ab-4db1-8aa9-5148bedd1173,removed,None,POINT (11.46564 48.19823)